
@{
    ViewData["Title"] = "Index";
}

<center><strong> <h2>Welcome to the Admin Panel!!</h2> </strong> </center>

<body style="padding-top: 0px;">
    <div class="col-md-12">

        <div class="carousel-inner">
            <div style="height:600px;" class="col-sm-12">
                <img src="~/images/iubat.jpg" class="img-responsive" />
            </div>

        </div>
    </div>

    <br />
    <br />

    
</body>