
@{
    ViewData["Title"] = "Index";
}

<center><h2><strong> Welcome to the Student Panel!! </strong> </h2> </center>

<body style="padding-top: 0px;">
    <div class="col-md-12">

        <div class="carousel-inner">
            <div style="height:600px;" class="col-sm-12">
                <img src="~/images/iubat.jpg" class="img-responsive" />
            </div>

        </div>
    </div>

    <br />
    <br />


</body>